# Sky Traveling Spirit Prediction
## Importing Data

In [1]:
import pandas as pd

In [14]:
spirits = pd.read_csv('data/sky_traveling_spirits.csv')
spirits.head()

,Visit#,Date,Season,Realms,Spirit,Last Visit
0,62nd,"May 26, 2022",Gratitude,Vault of Knowledge,Greeting Shaman(R),2nd Visit(48 ago)
1,61st,"May 12, 2022",Prophecy,Isle of Dawn,Prophet of Air,1st Visit
2,60th,"April 28, 2022",Assembly,Hidden Forest,Daydream Forester,1st Visit
3,59th,"April 14, 2022",Dreams,Valley of Triumph,Spinning Mentor,1st Visit
4,58th,"March 31, 2022",Enchantment,Golden Wasteland,Scarecrow Farmer,1st Visit

In [15]:
spirits.rename(columns={'Visit#':'Number', 'Last Visit':'Visit Number'}, inplace=True)

In [16]:
spirits.head()

,Visit,Date,Season,Realms,Spirit,Visit Number
0,62nd,"May 26, 2022",Gratitude,Vault of Knowledge,Greeting Shaman(R),2nd Visit(48 ago)
1,61st,"May 12, 2022",Prophecy,Isle of Dawn,Prophet of Air,1st Visit
2,60th,"April 28, 2022",Assembly,Hidden Forest,Daydream Forester,1st Visit
3,59th,"April 14, 2022",Dreams,Valley of Triumph,Spinning Mentor,1st Visit
4,58th,"March 31, 2022",Enchantment,Golden Wasteland,Scarecrow Farmer,1st Visit

In [18]:
spirits['Visit'].replace('[a-z]','',regex=True, inplace=True)

In [24]:
spirits.Visit.unique()

array(['62', '61', '60', '59', '58', '57', '56', '55', '54', '53', '52',
       'E*', '51', '50', '49', '48', '47', '46', '45', '44', '43', '42',
       '41', '40', '39', '38', '37', '36', '35', '34', '33', '32', '31',
       '30', '29', '28', '27', '26', '25', '24', '23', '22', '21', '20',
       '19', '18', '17', '16', '15', '14', '13', '12', '11', '10', '9',
       '8', '7', '6', '5', '4', '3', '2', '1'], dtype=object)

In [25]:
spirits = spirits[spirits.Visit != 'E*']

In [28]:
spirits.Visit = spirits.Visit.astype('int64')

In [29]:
spirits.set_index('Visit').sort_index()

,Date,Season,Realms,Spirit,Visit Number
Visit,,,,,
1,"January 31, 2020",Gratitude,Isle of Dawn,Sassy Drifter,1st Visit
2,"February 14, 2020",Lightseekers,Daylight Prairie,Doublefive Light Catcher,1st Visit
3,"February 27, 2020",Lightseekers,Hidden Forest,Laidback Pioneer,1st Visit
4,"March 12, 2020",Gratitude,Hidden Forest,Provoking Performer,1st Visit
5,"March 26, 2020",Belonging,Golden Wasteland,Pleaful Parent,1st Visit
...,...,...,...,...,...
58,"March 31, 2022",Enchantment,Golden Wasteland,Scarecrow Farmer,1st Visit
59,"April 14, 2022",Dreams,Valley of Triumph,Spinning Mentor,1st Visit
60,"April 28, 2022",Assembly,Hidden Forest,Daydream Forester,1st Visit
61,"May 12, 2022",Prophecy,Isle of Dawn,Prophet of Air,1st Visit
62,"May 26, 2022",Gratitude,Vault of Knowledge,Greeting Shaman(R),2nd Visit(48 ago)

In [30]:
spirits.Date = pd.to_datetime(spirits.Date)

In [31]:
spirits.head()

,Visit,Date,Season,Realms,Spirit,Visit Number
0,62,2022-05-26,Gratitude,Vault of Knowledge,Greeting Shaman(R),2nd Visit(48 ago)
1,61,2022-05-12,Prophecy,Isle of Dawn,Prophet of Air,1st Visit
2,60,2022-04-28,Assembly,Hidden Forest,Daydream Forester,1st Visit
3,59,2022-04-14,Dreams,Valley of Triumph,Spinning Mentor,1st Visit
4,58,2022-03-31,Enchantment,Golden Wasteland,Scarecrow Farmer,1st Visit

In [35]:
# UPDATE to grab only integers within the parentheses
# UPDATE previous visit = visit - previous visit
spirits['Previous Visit'] = spirits['Visit Number'].str.extract(r'\(([^\)]+)\)', expand=True)
spirits.head()

,Visit,Date,Season,Realms,Spirit,Visit Number,Previous Visit
0,62,2022-05-26,Gratitude,Vault of Knowledge,Greeting Shaman(R),2nd Visit(48 ago),48 ago
1,61,2022-05-12,Prophecy,Isle of Dawn,Prophet of Air,1st Visit,NaN
2,60,2022-04-28,Assembly,Hidden Forest,Daydream Forester,1st Visit,NaN
3,59,2022-04-14,Dreams,Valley of Triumph,Spinning Mentor,1st Visit,NaN
4,58,2022-03-31,Enchantment,Golden Wasteland,Scarecrow Farmer,1st Visit,NaN

In [46]:
#if previous visit is nan set it to visit value
#previous visit = visit - previous visit
spirits['Previous Visit'] = spirits['Visit'] - spirits['Previous Visit']

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [44]:
spirits['Visit Number'] = spirits['Visit Number'].str.extract(pat='(^[1-9]+)')

In [45]:
spirits.head()

,Visit,Date,Season,Realms,Spirit,Visit Number,Previous Visit
0,62,2022-05-26,Gratitude,Vault of Knowledge,Greeting Shaman(R),2,48 ago
1,61,2022-05-12,Prophecy,Isle of Dawn,Prophet of Air,1,NaN
2,60,2022-04-28,Assembly,Hidden Forest,Daydream Forester,1,NaN
3,59,2022-04-14,Dreams,Valley of Triumph,Spinning Mentor,1,NaN
4,58,2022-03-31,Enchantment,Golden Wasteland,Scarecrow Farmer,1,NaN