# Sky Traveling Spirit Prediction
## Importing Data

In [66]:
import pandas as pd
import numpy as np

In [2]:
spirits = pd.read_json('data/traveling_spirits.json')
spirits.head()

,Visit#,Date,Season,Realms,Spirit,Last Visit
0,63nd,2022-06-09,Belonging,Hidden Forest,Hairtousle Teen(R),2nd visit(52 ago)
1,62nd,2022-05-26,Gratitude,Vault of Knowledge,Greeting Shaman(R),2nd Visit(48 ago)
2,61st,2022-05-12,Prophecy,Isle of Dawn,Prophet of Air,1st Visit
3,60th,2022-04-28,Assembly,Hidden Forest,Daydream Forester,1st Visit
4,59th,2022-04-14,Dreams,Valley of Triumph,Spinning Mentor,1st Visit

In [3]:
spirits.rename(columns={
    'Visit#' :'Travel Cycle', 
    'Realms':'Realm', 
    'Last Visit':'Visit Number'}, inplace=True)

In [4]:
spirits.head()

,Travel Cycle,Date,Season,Realm,Spirit,Visit Number
0,63nd,2022-06-09,Belonging,Hidden Forest,Hairtousle Teen(R),2nd visit(52 ago)
1,62nd,2022-05-26,Gratitude,Vault of Knowledge,Greeting Shaman(R),2nd Visit(48 ago)
2,61st,2022-05-12,Prophecy,Isle of Dawn,Prophet of Air,1st Visit
3,60th,2022-04-28,Assembly,Hidden Forest,Daydream Forester,1st Visit
4,59th,2022-04-14,Dreams,Valley of Triumph,Spinning Mentor,1st Visit

In [5]:
spirits['Travel Cycle'].replace('[a-z]','',regex=True, inplace=True)

In [6]:
spirits['Travel Cycle'].unique()

array(['63', '62', '61', '60', '59', '58', '57', '56', '55', '54', '53',
       '52', 'E*', '51', '50', '49', '48', '47', '46', '45', '44', '43',
       '42', '41', '40', '39', '38', '37', '36', '35', '34', '33', '32',
       '31', '30', '29', '28', '27', '26', '25', '24', '23', '22', '21',
       '20', '19', '18', '17', '16', '15', '14', '13', '12', '11', '10',
       '9', '8', '7', '6', '5', '4', '3', '2', '1'], dtype=object)

In [7]:
spirits = spirits[spirits['Travel Cycle'] != 'E*']

In [8]:
spirits['Travel Cycle'] = spirits['Travel Cycle'].astype('int64')

In [9]:
# spirits = spirits.set_index('Travel Cycle').sort_index()

In [10]:
spirits.Date = pd.to_datetime(spirits.Date)

In [11]:
spirits.head()

,Travel Cycle,Date,Season,Realm,Spirit,Visit Number
0,63,2022-06-09,Belonging,Hidden Forest,Hairtousle Teen(R),2nd visit(52 ago)
1,62,2022-05-26,Gratitude,Vault of Knowledge,Greeting Shaman(R),2nd Visit(48 ago)
2,61,2022-05-12,Prophecy,Isle of Dawn,Prophet of Air,1st Visit
3,60,2022-04-28,Assembly,Hidden Forest,Daydream Forester,1st Visit
4,59,2022-04-14,Dreams,Valley of Triumph,Spinning Mentor,1st Visit

In [14]:
spirits['Previous Visit Ago'] = spirits['Visit Number'].str.extract(r'\(([^\)]+)\)', expand=True)
spirits.sample(10)

,Travel Cycle,Date,Season,Realm,Spirit,Visit Number,Previous Visit Cycle,Previous Visit Ago
18,46,2021-10-14,Rhythm,Daylight Prairie,Festival Spin Dancer(R),2nd Visit(29 ago),29 ago,29 ago
34,30,2021-03-04,Lightseekers,Isle of Dawn,Piggyback Lightseeker(R),2nd Visit(23 ago),23 ago,23 ago
33,31,2021-03-18,Gratitude,Valley of Triumph,Leaping Dancer(R),2nd Visit(19 ago),19 ago,19 ago
26,38,2021-06-24,Rhythm,Hidden Forest,Admiring Actor(R),2nd Visit(18 ago),18 ago,18 ago
54,11,2020-06-11,Belonging,Hidden Forest,Hairtousle Teen,1st Visit,NaN,NaN
65,1,2020-01-31,Gratitude,Isle of Dawn,Sassy Drifter,1st Visit,NaN,NaN
16,48,2021-11-11,Belonging,Vault of Knowledge,Wise Grandparent(R),2nd Visit(33 ago),33 ago,33 ago
21,43,2021-09-02,Lightseekers,Golden Wasteland,Crab Whisperer(R),2nd Visit(37 ago),37 ago,37 ago
62,4,2020-03-12,Gratitude,Hidden Forest,Provoking Performer,1st Visit,NaN,NaN
11,52,2022-01-06,Lightseekers,Valley of Triumph,Twirling Champion(R),2nd Visit(34 ago),34 ago,34 ago

In [15]:
spirits['Visit Number'] = spirits['Visit Number'].str.replace(r'[a-z]+\s([A-z])\w+.+', '', regex=True)

In [16]:
spirits['Visit Number'] = spirits['Visit Number'].astype('int64')

In [17]:
spirits['Previous Visit Ago'].unique()

array(['52 ago', '48 ago', nan, '49 ago', '31 ago', '34 ago', '19 ago',
       '33 ago', '29 ago', '37 ago', '18 ago', '23 ago', '14 ago',
       '20 ago', '15 ago', '9 ago'], dtype=object)

In [18]:
spirits['Previous Visit Ago'] = spirits['Previous Visit Ago'].str.replace(r'\s[a-z]+', '', regex=True)

In [69]:
for spirit in spirits.iterrows():
    prev_sp_cycle = []
    print(spirit[1]['Previous Visit Ago'])
    if np.isnan(spirit[1]['Previous Visit Ago']):
        print(spirit[1]['Travel Cycle'])
        prev_sp_cycle = prev_sp_cycle.append(spirit[1]['Travel Cycle'])
    else:
        print(spirit[1]['Previous Visit Ago'])
        prev_sp_cycle = prev_sp_cycle.append(spirit[1]['Previous Visit Ago'])


spirits['Previous Visit Cycle'] = prev_sp_cycle
    
spirits.sample(10)

52

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [154]:
spirits['Previous Visit Cycle'] = spirits['Previous Visit Cycle'].astype('int64')
spirits.dtypes

Travel Cycle                     int64
Date                    datetime64[ns]
Season                          object
Realm                           object
Spirit                          object
Visit Number                     int64
Previous Visit Cycle             int64
dtype: object

In [153]:
#if previous visit is nan set it to visit value
#previous visit = visit - previous visit
spirits['Previous Visit Cycle'] = [i['Travel Cycle'] if i['Previous Visit Cycle'].astype('int64') == 0 else i['Previous Visit Cycle'] for i in spirits]
# if spirits['Previous Visit Cycle'].empty:
#     spirits['Previous Visit Cycle'] = 0
# else:
#     spirits['Previous Visit Cycle'] = spirits['Travel Cycle'] - spirits['Previous Visit Cycle'].astype('int64')

TypeError: string indices must be integers

In [44]:
spirits['Visit Number'] = spirits['Visit Number'].str.extract(pat='(^[1-9]+)')

In [155]:
spirits.head()

,Travel Cycle,Date,Season,Realm,Spirit,Visit Number,Previous Visit Cycle
0,63,2022-06-09,Belonging,Hidden Forest,Hairtousle Teen(R),2,52
1,62,2022-05-26,Gratitude,Vault of Knowledge,Greeting Shaman(R),2,48
2,61,2022-05-12,Prophecy,Isle of Dawn,Prophet of Air,1,0
3,60,2022-04-28,Assembly,Hidden Forest,Daydream Forester,1,0
4,59,2022-04-14,Dreams,Valley of Triumph,Spinning Mentor,1,0